@media screen and (min-width: 1024px) {

    .main {

        &__button {
            width: 95%;
            margin: auto;
            justify-content: center;
        }

        &__btn {
            min-width: 280px;
            width: 29%;
            margin: 0px 2% 25px 2%;
        }
    }

    .restaurants {

            &__liste {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
            }

            &__carte {
                width: 45%;
                max-width: none;
            }
    }
} 