

@import "animations.scss";
@import "variables&mixins.scss";

body {
    font-family: roboto;
}

.header__restaurant {
    height: 70px;
    display: flex;
    width: 95%;
    margin: auto;

    &__logo {
        width: 84%;
        @include center;
    }

    &__arrow {
        @include center;
    }

    & img {
        max-width: 170px;
    }
}

.background__image {
    width: 100%;
    height: 300px;
    position: relative;
    z-index: -1;

    & img {
        object-fit: cover;
        width: 100%;
        height: 300px;
    }
}

.menu {
    background: #f2f2f2;
    border-radius: 40px 40px 0px 0px;
    width: 100%;
    padding-bottom: 60px;
    margin-top: -50px;
    z-index: 10;

        &__title {
            height: 70px;
            display: flex;
            width: 90%;
            margin: auto;
            padding-top: 20px;
            align-items: center;
            justify-content: space-between;
            font-family: shrikhand;

                & .fa-solid::before {
                    @include heart-color;
                }

                & h2 {
                font-weight: normal;
                }

                & .fa-solid::before {
                    @include heart-color;
                }

        }

        & h3 {
            width: 92.5%;
            margin: auto;
            margin-top: 25px;
            margin-bottom: 15px;
            font-weight: normal;
            position: relative;
            text-transform: uppercase;

            &::after {
                content: "";
                width: 40px;
                height: 4px;
                background-color: $tertiary;
                position: absolute;
                left: 0;
                bottom: -10px;
            }
        }

        &__starters, &__dishes, &__desserts {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__card {
            background-color: #f7f9fd;
            border-radius: 10px;
            box-shadow: 4px 4px 10px rgb(0 0 0 / 30%);
            margin: auto;
            margin-top: 15px;
            padding: 15px;
            animation: slider-down 1s;
            display: flex;
            justify-content: space-between;
            width: 90%;
            overflow: hidden;
            cursor: pointer;

                & h4 {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    width: 90%;
                }

                & p {
                    margin-top: 5px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    width: 90%;
                }

                
                &__content {
                    flex: 1;
                    max-width: 90%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }

                &__price {
                    font-weight: bold;
                    @include center;
                    margin-top: 10px;
                }

                &__icon {
                    @include center;
                    background: $tertiary;
                    border-radius: 0px 10px 10px 0px;
                    overflow: hidden;
                    margin: -16px -80px -16px 16px;
                    width: 64px;
                    transition-duration: 0.5s;

                        .fa-regular::before {
                            color: $tertiary;
                            background: white;
                            border-radius: 50%;
                        }
                }

                &:hover &__icon {
                    margin-right: -16px;
                }

                &__rotate {
                    transform: rotate(-360deg);
                    transition-duration: 0.5s;
                }

                &:hover &__rotate {
                    transform: rotate(0deg);
                    transition-duration: 0.5s;
                }
 
        }
        
}

.heart__full {
    @include heart-full;
}

.heart__empty {
    margin-top: 19px;
    @include heart-empty;
}

.menu__heart {
    height: 70px;
}

@for $i from 0 to 10 {
    .delay-#{$i} {
      animation-delay:  #{$i / 8}s;
    }
  }


.btn {
    margin-top: 20px;
}

.footer-restaurant {
    width: 100%;
}


