/* ./dart-sass/sass sass/main.scss style.css --watch */ /* LOADER */
@keyframes load {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(720deg);
    opacity: 0;
  }
}
@keyframes slider-down {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slider-left {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(-60px);
    opacity: 1;
  }
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: roboto;
  max-width: 2560px;
}

/* LOADER */
.loader {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  animation: load 2s forwards;
  -webkit-animation: load 2s linear forwards;
  -o-animation: load 2s forwards;
}
.loader__spinner {
  margin: auto;
  height: 100px;
  width: 100px;
  border-top: 10px solid #9356DC;
  border-left: 10px #fff solid;
  border-bottom: 10px solid #FF79DA;
  border-right: 10px #fff solid;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  animation: spin 2.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  -webkit-animation: spin 2.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  -o-animation: spin 2.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

/* HEADER */
.header {
  flex-direction: column;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
}
.header__location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #dcdde1;
  height: 50px;
  box-shadow: inset 1px 3px 7px -6px;
  font-weight: bold;
  color: #485460;
}
.header__location .fa-solid {
  padding: 0px 15px 5px 0px;
}
.header img {
  max-width: 170px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f6fa;
  flex-direction: column;
  padding: 30px;
  text-align: center;
}
.search p {
  padding-top: 20px;
}
.search__btn {
  color: #fff;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  height: 50px;
  width: 220px;
  font-size: 15px;
  border: none;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.search__btn__container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search__btn:hover {
  opacity: 0.8;
  transition: 0.4s;
}

/* MAIN */
.main h2 {
  padding: 30px 0px 15px 5%;
}
.main__button {
  display: flex;
  flex-wrap: wrap;
}
.main__btn {
  width: 90%;
  height: 70px;
  background: #f5f6fa;
  border-radius: 15px;
  border: none;
  margin: auto;
  margin-bottom: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-family: "roboto", sans-serif;
  font-size: 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.main__btn .fa-solid {
  color: #485460;
  position: absolute;
  left: 12%;
}
.main__btn__number {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  color: #fff;
  background-color: #9356DC;
  text-align: center;
  padding: 4px 4px;
  position: absolute;
  top: 22px;
  left: -12.5px;
}
.main__btn:hover {
  background-color: #f5edff;
  transition: 0.4s;
}
.main__btn:hover .fa-solid {
  color: #9356DC;
}

/* RESTAURANTS */
.restaurants {
  background-color: #f2f2f2;
  padding-bottom: 50px;
}
.restaurants h2 {
  padding: 30px 0% 15px 5%;
  padding-bottom: 15px;
}
.restaurants__liste {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.restaurants__carte {
  width: 100%;
  max-width: 380px;
  min-width: 280px;
  height: 235px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
.restaurants__carte img {
  width: 100%;
  object-fit: cover;
  height: 170px;
  border-radius: 20px 20px 0px 0px;
}
.restaurants__carte p {
  padding: 5px 0% 10% 0%;
}
.restaurants__carte .fa-solid::before {
  background: -moz-linear-gradient(#FF79DA, #9356DC);
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.restaurants__infos {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto;
}

.restaurants__infos__heart {
  height: 70px;
  margin-top: -15px;
}

.heart__full {
  position: relative;
  bottom: 32px;
  opacity: 0;
  transition: all 0.4s;
  cursor: pointer;
}
.heart__full:hover {
  opacity: 1;
  transform: scale(1.13);
}

.heart__empty {
  position: relative;
  top: 0px;
  opacity: 1;
  cursor: pointer;
}
.heart__empty:hover {
  opacity: 0;
}

.new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  background-color: #99E2D0;
  position: absolute;
  left: 70%;
  bottom: 83%;
  border-radius: 2px;
  font-weight: bold;
  color: #027428;
  z-index: 2;
}

.footer {
  background: #353535;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
  color: #fff;
}
.footer__logo {
  font-family: shrikhand;
  font-weight: normal;
  padding: 20px 0px 15px 5%;
}
.footer li {
  list-style-type: none;
  padding: 10px 0px 0px 5%;
}
.footer a {
  text-decoration: none;
  color: #fff;
}
.footer .fa-solid::before {
  color: #fff;
}
.footer .fa-utensils::before {
  padding-right: 11px;
}
.footer .fa-handshake-angle::before {
  padding-right: 5px;
}

@media screen and (min-width: 1024px) {
  .main__button {
    width: 95%;
    margin: auto;
    justify-content: center;
  }
  .main__btn {
    min-width: 280px;
    width: 29%;
    margin: 0px 2% 25px 2%;
  }
  .restaurants__liste {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .restaurants__carte {
    width: 45%;
    max-width: none;
  }
}
/* LOADER */
@keyframes load {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(720deg);
    opacity: 0;
  }
}
@keyframes slider-down {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slider-left {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(-60px);
    opacity: 1;
  }
}
body {
  font-family: roboto;
}

.header__restaurant {
  height: 70px;
  display: flex;
  width: 95%;
  margin: auto;
}
.header__restaurant__logo {
  width: 84%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__restaurant__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__restaurant img {
  max-width: 170px;
}

.background__image {
  width: 100%;
  height: 300px;
  position: relative;
  z-index: -1;
}
.background__image img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.menu {
  background: #f2f2f2;
  border-radius: 40px 40px 0px 0px;
  width: 100%;
  padding-bottom: 60px;
  margin-top: -50px;
  z-index: 10;
}
.menu__title {
  height: 70px;
  display: flex;
  width: 90%;
  margin: auto;
  padding-top: 20px;
  align-items: center;
  justify-content: space-between;
  font-family: shrikhand;
}
.menu__title .fa-solid::before {
  background: -moz-linear-gradient(#FF79DA, #9356DC);
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__title h2 {
  font-weight: normal;
}
.menu__title .fa-solid::before {
  background: -moz-linear-gradient(#FF79DA, #9356DC);
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu h3 {
  width: 92.5%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: normal;
  position: relative;
  text-transform: uppercase;
}
.menu h3::after {
  content: "";
  width: 40px;
  height: 4px;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: -10px;
}
.menu__starters, .menu__dishes, .menu__desserts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu__card {
  background-color: #f7f9fd;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  margin: auto;
  margin-top: 15px;
  padding: 15px;
  animation: slider-down 1s;
  display: flex;
  justify-content: space-between;
  width: 90%;
  overflow: hidden;
  cursor: pointer;
}
.menu__card h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__card p {
  margin-top: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__card__content {
  flex: 1;
}
.menu__card__price {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.menu__card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  border-radius: 0px 10px 10px 0px;
  overflow: hidden;
  margin: -16px -80px -16px 16px;
  width: 64px;
  transition-duration: 0.5s;
}
.menu__card__icon .fa-regular::before {
  color: #99E2D0;
  background: white;
  border-radius: 50%;
}
.menu__card:hover .menu__card__icon {
  margin-right: -16px;
}
.menu__card__rotate {
  transform: rotate(-360deg);
  transition-duration: 0.5s;
}
.menu__card:hover .menu__card__rotate {
  transform: rotate(0deg);
  transition-duration: 0.5s;
}

.heart__full {
  position: relative;
  bottom: 32px;
  opacity: 0;
  transition: all 0.4s;
  cursor: pointer;
}
.heart__full:hover {
  opacity: 1;
  transform: scale(1.13);
}

.heart__empty {
  margin-top: 19px;
  position: relative;
  top: 0px;
  opacity: 1;
  cursor: pointer;
}
.heart__empty:hover {
  opacity: 0;
}

.menu__heart {
  height: 70px;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.125s;
}

.delay-2 {
  animation-delay: 0.25s;
}

.delay-3 {
  animation-delay: 0.375s;
}

.delay-4 {
  animation-delay: 0.5s;
}

.delay-5 {
  animation-delay: 0.625s;
}

.delay-6 {
  animation-delay: 0.75s;
}

.delay-7 {
  animation-delay: 0.875s;
}

.delay-8 {
  animation-delay: 1s;
}

.delay-9 {
  animation-delay: 1.125s;
}

.btn {
  margin-top: 20px;
}

.footer-restaurant {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
